<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Error</title>
</head>
<body>
<p/>
<div class="container">
<div class="jumbotron alert-danger">
    <h2>Oops... something went wrong.</h2>
    <h2 th:text="${status + ' ' + error}"></h2>
    <p/>
    <h4><a th:href="@{/}" class="btn btn-default">Back to home page</a></h4>
</div>
</div>
</body>
</html>