<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Result</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Result</h1>
    </div>
        <div th:switch="${person}">
            <div th:case="null">
                <div class="jumbotron alert-warning">
                    <h2>Person not found :(</h2>
                    <br/>
                    <a th:href="@{/person/find}" class="btn-primary btn">Try again</a>
                    <h4><a th:href="@{/person}" class="btn-default btn">Back to person manager</a></h4>
                </div>
            </div>
            <div th:case="*">
                <div class="jumbotron alert-success">
                    <table class="table table-bordered table-striped table-hover col-md-12">
                        <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">First name</th>
                            <th class="text-center">Last name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Credit card type</th>
                            <th class="text-center">Credit card number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td th:text="${person.id}"></td>
                        <td th:text="${person.firstName}"></td>
                        <td th:text="${person.lastName}"></td>
                        <td th:text="${person.email}"></td>
                        <td th:text="${person.gender}"></td>
                        <td th:text="${person.creditCardType}"></td>
                        <td th:text="${person.creditCardNumber}"></td>
                        </tbody>
                    </table>
                    <br/>
                    <a th:href="@{/person/find}" class="btn-primary btn">Try again</a>
                    <h4><a th:href="@{/person}" class="btn-default btn">Back to person manager</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>