<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Find person</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Find person</h1>
    </div>
    <div class="jumbotron alert-info">
    <form action="#" th:action="@{/person/find/result}" th:object="${person}" method="post">
        <br/>
        <div th:class="form-group">
            <input class="form-control" type="number" min="1" max="2147483647"
                   placeholder="Type person id"
                   th:field="*{id}" id="textField1"
            />
        </div>
        <script type="text/javascript">
            document.getElementById("textField1").value=""
        </script>
        <h4><input type="submit" value="Search" class="btn-primary btn"/></h4>
        <a th:href="@{/person}" class="btn-default btn">Back</a>
    </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>