<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Person manager</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Person manager</h1>
    </div>
    <div class="jumbotron">
        <a th:href="@{/}" class="btn btn-default btn-sm">Back</a>
        <h4>
            <a th:href="@{/person/add}" class="btn-primary btn">Add new person</a>
            <a th:href="@{/person/find}" class="btn-success btn">Find person</a>
            <a th:href="@{/person/export-csv}" class="btn-info btn">Export database</a>
        </h4>
        <br/>
        <div th:switch="${persons.size()}">
            <h2 th:case="0">No persons in database :(</h2>
            <div th:case="*">
                <div class="row">
                <div>
                <table class="table table-bordered table-striped table-hover col-md-12">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">First name</th>
                            <th class="text-center">Last name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Credit card type</th>
                            <th class="text-center">Credit card number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="person : ${persons}">
                            <td th:text="${person.id}"></td>
                            <td th:text="${person.firstName}"></td>
                            <td th:text="${person.lastName}"></td>
                            <td th:text="${person.email}"></td>
                            <td th:text="${person.gender}"></td>
                            <td th:text="${person.creditCardType}"></td>
                            <td th:text="${person.creditCardNumber}"></td>
                            <td>
                                <a th:href="@{/person/edit/{id}(id=${person.id})}"
                                   class="btn-sm btn-warning col-md-6">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/person/delete/{id}(id=${person.id})}"
                                   class="btn-sm btn-danger col-md-6">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td><a th:href="@{/person/json/{id}(id=${person.id})}">JSON</a> </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>