<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="@{/static/styles.css}"/>
    <title>Add person form</title>
</head>
<body>
<div class="container">
<div class="page-header">
    <h1>Add person</h1>
</div>
<div class="jumbotron">
<form action="#" th:action="@{/person/add-error}" th:object="${person}" method="post">

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="First name"
               th:field="*{firstName}"
        />
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}">
            First name Error
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Last name"
               th:field="*{lastName}"
        />
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}">
            Last name Error
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Email"
               th:field="*{email}"
        />
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">
            Email Error
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Gender"
               th:field="*{gender}"
        />
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('gender')}"
              th:errors="*{gender}">
            Gender Error
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Credit card type"
               th:field="*{creditCardType}"
        />
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('creditCardType')}"
              th:errors="*{creditCardType}">
            Credit card type Error
        </div>
    </div>
    <br/>

    <div th:class="form-group">
        <input class="form-control" type="text" placeholder="Credit card number"
               th:field="*{creditCardNumber}"/>
        <div class="form-text text-danger"
              th:if="${#fields.hasErrors('creditCardNumber')}"
              th:errors="*{creditCardNumber}">
            Credit card number Error
        </div>
    </div>
    <br/>

    <input type="submit" value="Submit" class="btn-success btn-xs"/>
    <a th:href="@{/person}" class="btn-danger btn-sm">Cancel</a>
</form>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>