h1{
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

body{
    background-image: url("background.jpg")!important;
    background-size: 100% 100vh;
    background-attachment: fixed
}
