<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{AddUserTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{AddUserTitle}"></h1>
    </div>
    <div class="jumbotron alert-info">
        <form action="#" method="Post" th:action="@{/home/admin/add-user}" th:object="${person}">

            <div th:class="form-group">
                <label th:text="#{FirstName}"></label>
                <input class="form-control" type="text" th:field="*{firstName}"/>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}">
                </div>
            </div>
            <p></p>

            <div th:class="form-group">
                <label th:text="#{LastName}"></label>
                <input class="form-control" type="text" th:field="*{lastName}"/>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('lastName')}"
                     th:errors="*{lastName}">
                </div>
            </div>
            <p></p>

            <div th:class="form-group">
                <label th:text="#{Nickname}"></label>
                <input class="form-control" type="text" th:field="*{nick}"/>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('nick')}"
                     th:errors="*{nick}">
                </div>
                <small style="color: red" th:if="${errorNicknameTaken!=null}" th:text="#{ErrorNickname}"></small>
            </div>
            <p></p>

            <div th:class="form-group">
                <label th:text="#{Password}"></label>
                <input class="form-control" type="text" th:field="*{password}"
                       data-type="password"/>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">
                </div>
            </div>
            <p></p>

            <div th:class="form-group">
                <label th:text="#{Email}"></label>
                <input class="form-control" type="text" th:field="*{email}"/>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}">
                </div>
                <small style="color: red" th:if="${errorEmailTaken!=null}" th:text="#{ErrorEmail}"></small>
            </div>
            <p></p>

            <div th:class="form-group">
                <label th:text="#{Admin}"></label>
                <input class="form-control" type="checkbox" th:field="*{admin}"/>
            </div>
            <p></p>

            <input type="submit" class="btn-success btn-sm btn" th:value="#{Submit}"/>

            <a th:href="@{/home/admin}" class="btn-danger btn-sm btn" th:text="#{Cancel}"></a>
        </form>
    </div>
</div>
</body>
</html>