<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{EditMessageTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{EditMessageTitle}"></h1>
    </div>
    <div class="jumbotron alert-warning">
        <form action="#" method="POST" th:action="@{/home/edit-message}" th:object="${message}">

            <input type="hidden" th:field="*{id}">

            <div th:class="form-group">
                <textarea class="form-control" maxlength="256" th:field="*{content}"
                          style="height:140px; width:1020px; resize:none;">
                </textarea>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">
                </div>
            </div>
            <p></p>

            <input type="submit" class="btn-success btn-sm btn" th:value="#{Accept}"/>
            <a th:href="@{/home}" class="btn-danger btn-sm btn" th:text="#{Cancel}"></a>
        </form>
    </div>
</div>
</body>
</html>