<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title  th:text="#{FindMessageResultTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{Result}"></h1>
    </div>
    <div th:if="${messages == null}">
        <div class="jumbotron alert-warning">
            <h2 th:text="#{MessageNotFound}"></h2>
            <p></p>
            <a th:href="@{/home/find-message}" class="btn-primary btn" th:text="#{TryAgain}"></a>
            <h4><a th:href="@{/home}" class="btn-default btn" th:text="#{BackToHomePage}"></a></h4>
        </div>
    </div>
    <div th:if="${messages != null}" th:switch="${messages.size()}">
        <div th:case="0">
            <div class="jumbotron alert-warning">
                <h2 th:text="#{MessageNotFound}"></h2>
                <p></p>
                <a th:href="@{/home/find-message}" class="btn-primary btn" th:text="#{TryAgain}"></a>
                <h4><a th:href="@{/home}" class="btn-default btn" th:text="#{BackToHomePage}"></a></h4>
            </div>
        </div>
        <div th:case="*">
            <div class="jumbotron alert-success">
                <table style="word-break:break-word" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1" th:text="#{Id}"></th>
                        <th class="text-center col-md-6" th:text="#{ContentCol}"></th>
                        <th class="text-center col-md-2" th:text="#{CreateDateCol}"></th>
                        <th class="text-center col-md-1" th:text="#{AuthorCol}"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${messages}">
                            <td th:text="${message.getId()}"></td>
                            <td th:text="${message.getContent()}"></td>
                            <td th:text="${message.getCreate_date()}"></td>
                            <td th:text="${message.getAuthor()}"></td>
                        </tr>
                    </tbody>
                </table>

                <p></p>
                <a th:href="@{/home/find-message}" class="btn-primary btn" th:text="#{TryAgain}"></a>
                <h4><a th:href="@{/home}" class="btn-default btn" th:text="#{BackToHomePage}"></a></h4>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>