<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title th:text="#{FindUserTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{FindUserTitle}"></h1>
    </div>
    <div class="jumbotron alert-info">
        <form action="#" th:action="@{/home/admin/find-user}" th:object="${loginBean}" method="POST">
            <br/>
            <div th:class="form-group">
                <label th:text="#{TypeUserNickname}"></label>
                <input class="form-control" type="text" required="required" pattern="[A-Za-z]*"
                       minlength="2" maxlength="32" th:field="*{nick}"
                />
            </div>
           <h4><input type="submit" class="btn-primary btn" th:value="#{Search}"/></h4>
            <a th:href="@{/home/admin}" class="btn-default btn" th:text="#{Back}"></a>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>