<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title th:text="#{FindUserResultTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{Result}"></h1>
    </div>
    <div th:if="${persons == null}">
        <div class="jumbotron alert-warning">
            <h2 th:text="#{UserNotFound}"></h2>
            <p></p>
            <a th:href="@{/home/admin/find-user}" class="btn-primary btn" th:text="#{TryAgain}"></a>
            <h4><a th:href="@{/home/admin}" class="btn-default btn" th:text="#{BackToAdminPanel}"></a></h4>
        </div>
    </div>
    <div th:if="${persons != null}" th:switch="${persons.size()}">
        <div th:case="0">
            <div class="jumbotron alert-warning">
                <h2 th:text="#{UserNotFound}"></h2>
                <p></p>
                <a th:href="@{/home/admin/find-user}" class="btn-primary btn" th:text="#{TryAgain}"></a>
                <h4><a th:href="@{/home/admin}" class="btn-default btn" th:text="#{BackToAdminPanel}"></a></h4>
            </div>
        </div>
        <div th:case="*">
            <div class="jumbotron">
                <div class="row">
                    <table style="word-break:break-word" class="table table-bordered table-striped table-hover col-md-12">
                        <thead>
                            <tr>
                                <th th:text="#{IdCol}"></th>
                                <th class="text-center col-md-2" th:text="#{FirstNameCol}"></th>
                                <th class="text-center col-md-2" th:text="#{LastNameCol}"></th>
                                <th class="text-center col-md-2" th:text="#{NicknameCol}"></th>
                                <th class="text-center col-md-2" th:text="#{PasswordCol}"></th>
                                <th class="text-center col-md-2" th:text="#{EmailCol}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="person : ${persons}">
                                <td th:text="${person.id}"></td>
                                <td th:text="${person.firstName}"></td>
                                <td th:text="${person.lastName}"></td>
                                <td th:text="${person.nick}"></td>
                                <td th:text="${person.password}"></td>
                                <td th:text="${person.email}"></td>
                                <td>
                                    <a th:href="@{/home/admin/edit-user/{id}(id=${person.id})}"
                                       class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a th:href="@{/home/admin/delete-user/{id}(id=${person.id})}"
                                       class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p></p>
                    <a th:href="@{/home/admin/find-user}" class="btn-primary btn" th:text="#{TryAgain}"></a>
                    <h4><a th:href="@{/home/admin}" class="btn-default btn" th:text="#{BackToAdminPanel}"></a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>