<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title th:text="#{HomeTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{Welcome}"></h1>
    </div>
    <div class="jumbotron">
        <h4>
            <a th:href="@{/home/details}" class="btn-primary btn" th:text="#{UserDetails}"></a>
            <a th:href="@{/home/delete}" class="btn-danger btn" th:text="#{DeleteAccount}"></a>
            <a th:href="@{/home/find-message}" class="btn-success btn" th:text="#{FindMessage}"></a>
        </h4>
        <h4>
            <a th:href="@{/home/admin}" class="btn-info btn" th:if="${admin}" th:text="#{AdminPanelTitle}"></a>
        </h4>
        <h4>
            <a th:href="@{/home/logout}" class="btn btn-default btn-sm" th:text="#{LogOut}"></a>
        </h4>
        <p></p>
        <form action="#" method="POST" th:action="@{home}" th:object="${newMessage}">
            <div th:class="form-group">
                <textarea class="form-control" required="required" minlength="1" maxlength="256" th:field="*{content}"
                          style="height:140px; width:1020px; resize:none;">
                </textarea>
                <div class="form-text text-danger"
                     th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">
                </div>
            </div>
            <p></p>
            <input type="submit" class="btn btn-success btn-sm" th:value="#{PostMessage}"/>
        </form>
        <p></p>
        <h3 th:text="#{MyMessages}"></h3>
        <p></p>
        <div th:switch="${myMessages.size()}">
            <h4 th:case="0" th:text="#{NoMessagesToShow}"></h4>
            <div th:case="*">
                <table style="word-break:break-word" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1" th:text="#{Id}"></th>
                        <th class="text-center col-md-6" th:text="#{ContentCol}"></th>
                        <th class="text-center col-md-2" th:text="#{CreateDateCol}"></th>
                        <th class="text-center col-md-1" th:text="#{AuthorCol}"></th>
                        <th class="text-center col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="message : ${myMessages}">
                        <td th:text="${message.getId()}"></td>
                        <td th:text="${message.getContent()}"></td>
                        <td th:text="${message.getCreate_date()}"></td>
                        <td th:text="${message.getAuthor()}"></td>
                        <td>
                            <a th:href="@{/home/edit-message/{id}(id=${message.id})}"
                               class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{/home/delete-message/{id}(id=${message.id})}"
                               class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3 th:text="#{AllMessages}"></h3>
        <div th:switch="${messages.size()}">
            <h4 th:case="0" th:text="#{NoMessagesToShow}"></h4>
            <div th:case="*">
                <table style="word-break:break-word" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1" th:text="#{Id}"></th>
                            <th class="text-center col-md-6" th:text="#{ContentCol}"></th>
                            <th class="text-center col-md-2" th:text="#{CreateDateCol}"></th>
                            <th class="text-center col-md-1" th:text="#{AuthorCol}"></th>
                            <th class="text-center col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="message : ${messages}">
                            <td th:text="${message.getId()}"></td>
                            <td th:text="${message.getContent()}"></td>
                            <td th:text="${message.getCreate_date()}"></td>
                            <td th:text="${message.getAuthor()}"></td>
                            <td th:if="${admin}">
                                <a th:href="@{/home/edit-message/{id}(id=${message.id})}"
                                   class="btn btn-sm btn-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/home/delete-message/{id}(id=${message.id})}"
                                   class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>