<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title th:text="#{LoginTitle}"></title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{LoginTitle}"></h1>
    </div>
    <div class="jumbotron">
        <form method="POST" th:action="@{/login}" th:object="${loginBean}">

            <label th:text="#{Nickname}"></label>
            <div th:class="form-group">
                <input class="form-control" type="text" th:field="*{nick}"/>
            </div>
            <p></p>

            <label th:text="#{Password}"></label>
            <div th:class="form-group">
                <input class="form-control" type="password" th:field="*{password}"
                       data-type="password"/>
            </div>
            <p></p>

            <input type="submit" th:value="#{Login}" class="btn-success btn-sm btn">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <small style="color: red" th:if="${errorInvalidDetails!=null}" th:text="#{InvalidDetails}"></small>
            <p></p>

            <a th:href="@{/signup}" class="btn-primary btn-sm btn" th:text="#{SignUp}"></a>
        </form>
    </div>
</div>
</body>
</html>